<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <button class="acordeon">Aprendendo HTML5</button>
    <article class="painel">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur impedit eum, molestias quisquam quibusdam rerum optio saepe voluptatum alias deleniti modi illo expedita laudantium fugiat velit ad, dolor odio aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed necessitatibus ut aperiam eaque corrupti quo quae, illo rerum repellat? Quidem esse inventore, omnis tenetur aperiam ut aspernatur obcaecati repudiandae pariatur.
        </p>
    </article>

    <button class="acordeon">Aprendendo HTML5</button>
    <article class="painel">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur impedit eum, molestias quisquam quibusdam rerum optio saepe voluptatum alias deleniti modi illo expedita laudantium fugiat velit ad, dolor odio aspernatur. lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat earum architecto officia quia fuga consequuntur! Beatae debitis quisquam id maxime fugiat blanditiis placeat. Architecto incidunt minus mollitia. Distinctio, earum nisi!
        </p>
    </article>

    <button class="acordeon">Aprendendo HTML5</button>
    <article class="painel">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur impedit eum, molestias quisquam quibusdam rerum optio saepe voluptatum alias deleniti modi illo expedita laudantium fugiat velit ad, dolor odio aspernatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et reiciendis adipisci! Impedit sequi illum odio. Maxime, voluptas consequatur aspernatur vero eveniet, porro dignissimos saepe repellat, labore amet corporis voluptate.
        </p>
    </article>

    <script type="text/javascript" src="script.js"></script>
</body>
</html>