<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    
    <nav class="menu">
        <div>
            <a href="#banner" class="ativo" data-menu><img src="home.png" alt=""></a>
            <a href="#sobre" data-menu><img src="pesquisa.png" alt=""></a>
            <a href="#cursos" data-menu><img src="email.png" alt=""></a>
            <a href="#canal" data-menu><img src="youtube.png" alt=""></a>
        </div>
        <div  class="btnMenu">
            <div class="barra"></div>
            <div class="barra"></div>
            <div class="barra"></div>
        </div>
    </nav>

    <script type="text/javascript" src="script.js"></script>
</body>
</html>