@charset "utf-8"

* {
    height: 100%;
}

body {
        background-image: linear-gradient(to right, #BFBAB0, #8C8577 ) ;
        
}

main {
        background-color: white;
        border-radius: 10px;
        width: 600px;
        padding: 20px;
        margin: auto;
        box-shadow: 10px 10px 25px #73685f8f;
        font-family: Arial, Helvetica, sans-serif;
      
}

h1 {
        color: #262523;
        text-align: center;
        text-shadow: 1px 1px 2px #262523;
        k;
}

h2 {
        color: #73685F;
}


p{
    text-align: justify;
}